.p16px-32px{padding:16px 32px}
.mh100vh{min-height:100vh}
.bgc-0000000000d7{background-color:rgba(000,000,000,0.7)}
.df{display: flex}
.g32px{gap:32px}
.aic{align-items: center}
.button-xs{display:inline-flex;justify-content:center;align-items:center;gap:8px;padding:8px 12px;border-radius:8px;box-sizing:border-box}
.text-xs{font-size:12px;line-height:18px}
.--h-c-gray100:hover{color:var(--gray100,#F2F4F7)}
.--h-fwb:hover{font-weight: bold}
.c-fff{color:#fff}
.b-1px-s-fff{border:1px solid #fff}
.--after-content-I_❤️_AliasCSS::after{content:"I ❤️ AliasCSS"}
